@import '_mixins.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.test{
  font-size: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: logo-spin infinite 20s linear;
  }
}

.app-header {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-top: 50px;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-delete {
  color: #fff;
  background-color: #ff001f;
  border-color: #bc0027;
}

.btn-view {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  @include userSelect('none');
}

.textfield {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 200px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  @include userSelect('none');

}

.results {
  display: block;
}

.sites-container {
  display: block;
  height: 300px;
  width: 25%;
  float: left;

  .site-list {
    margin: 20px 0 0 0;
    padding: 0;
    width: 400px;

    li {
      list-style: none;
      margin: 15px 0;
      font-size: 1.3rem;

      span{
        display: inline-block;
        padding: 0 7px;
        width: auto;
      }
      .icon {
        font-size: 1.3rem;
        color: #ff0000;
      }

    }
  }
}

.one-site-container {
  width: 75%;
  float: left;

  h3, p {
    text-align: left;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    width: 80%;
    background: #333;
    display: block;
    padding: 20px;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }

  .site {
    padding-left: 30px;
  }
}


.error-box {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  position: absolute;
  top: 20px;
  margin: 0 auto;
  text-align: center;
  width: 300px;
  padding: 10px;
  left: calc(50% - 150px);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
